#heading1 {
    text-align: center;
}

.btn-calc {
    text-align: center;
}

.btn-calc button {
    width: 80px; /* ボタンの幅を固定 */
    height: 80px; /* ボタンの高さを固定 */
    line-height: 80px; /* ボタン内のテキストを中央揃え */
    text-align: center; /* ボタン内のテキストを中央揃え */
    padding: 0; /* ボタン内の余白を0に設定 */
    margin-bottom: 5px;
}

#resultnum {
    width: 333px;
    height: 70px;
    background-color:rgb(229, 210, 210);
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 30px;
    padding-top: 12px;
    font-size: 30px;
}

#equal {
    background-color: rgb(255, 98, 0);
    color: white;
}

#ac {
    display: inline;
}

